<nad class="navbar navbar-expand-md navbar-light bg white shadow-sm fixed-buttom mt-5">
  <%= link_to root_path, class: "navbar-brand mx-auto" do %>
    <%= image_tag "/images/logo.jpeg", class: "img-fluid" %>
  <% end %>
</nav>